@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&family=Patrick+Hand&display=swap');

:root {
  --color-light: #ffffffc8;
  --color-light-subdued: #ffffff64;
  --color-dark: #2a363b;
  --color-dark-subdued: rgb(111, 122, 128);
  --color-dark-transparent: #2a363bc8;
  --color-accent: #ff847c;
  --color-accent-dark: #e84a5f;
  --color-link: #fecea8;
  --color-visited: #e84a5f;
  --color-error: #e4213b;

  --rounded-big: 1rem;
  --rounded-small: 0.3rem;

  color: var(--color-light);
  background-color: var(--color-dark-transparent);
  font-family: Dosis, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

button {
  border: none;
  background-color: var(--color-accent-dark);
  color: var(--color-light-subdued);
  padding: 5px;
  border-radius: var(--rounded-small);
}

button:hover {
  background-color: var(--color-accent);
}

button path {
  fill: var(--color-light-subdued);
}

button:disabled {
  background-color: var(--color-dark);
  color: var(--color-dark-subdued);
}

button:disabled:hover {
  background-color: var(--color-dark);
}
