.dropdownMenu {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  position: relative;

  --drop-width: 150px;
  --drop-width-short: 60px;
}

.dropdownButton {
  position: relative;
  box-sizing: border-box;
  width: var(--drop-width);
  padding: 10px;
  background-color: var(--color-light-3);
  border-radius: var(--rounded-small);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.dropdownMenu.short .dropdownButton {
  width: var(--drop-width-short);
}

.dropdownButton .icon {
  position: absolute;
  right: 10px;
  height: 8px;
  top: calc(50%-4px);
  transition: all 100ms ease-in-out;
}

.dropdownButton.active .icon {
  transform: rotate(180deg);
}

.dropdownMenu.up .dropdownButton .icon {
  transform: rotate(180deg);
}

.dropdownMenu.up .dropdownButton.active .icon {
  transform: rotate(0deg);
}

.dropdownButton.active {
  outline: 1px solid var(--color-accent);
}

.dropdownOptions {
  width: var(--drop-width);
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-1);
  color: var(--color-dark-1);
  border-radius: 0 0 var(--rounded-small) var(--rounded-small);
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 100ms ease-out, transform 100ms ease-in-out;
  overflow: hidden;
  z-index: 10;
}

.dropdownOptions:has(.custom) {
  width: max-content;
  min-width: 200px;
  overflow: visible;
  border-radius: var(--rounded-small);
  margin-top: 10px;
}

.dropdownMenu.short .dropdownOptions {
  width: var(--drop-width-short);
}

.dropdownMenu.up .dropdownOptions {
  transform: translateY(20px);
  bottom: 100%;
  top: auto;
}

.dropdownMenu.up .dropdownOptions.active {
  transform: translateY(0);
  border-radius: var(--rounded-small) var(--rounded-small) 0 0;
}

.dropdownOptions.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.dropdownOption {
  padding: 10px;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  user-select: none;
}

.dropdownOption:hover {
  background-color: var(--color-accent);
}

.label {
  width: max-content;
}
