.filterMenu {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-small);
  font-size: large;
  background-color: var(--color-dark-2);
}

.filterMenu > * {
  border-bottom: solid 1px var(--color-dark-2);
}

.filterMenu > *:last-child {
  border-bottom: none;
}

.filterButton {
  color: var(--color-light-1);
  background-color: var(--color-dark-2);
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  user-select: none;
}

.filterButton:first-of-type {
  border-top: none;
}

.currentStates {
  display: flex;
  width: fit-content;
  gap: 10px;
}

.currentStateValue {
  font-size: medium;
  color: var(--color-accent);
}

.filterOptions {
  box-sizing: border-box;
  background-color: var(--color-dark-3);
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  pointer-events: none;
  height: 0;
  transition: transform 100ms ease-in-out;
  border-radius: 0 0 var(--rounded-small) var(--rounded-small);
}

.filterOptions.active {
  padding: 20px;
  height: auto;
  opacity: 1;
  pointer-events: all;
}

.label {
  width: max-content;
}
