/* 
Form format

.modalForm
  .formBody
    .formField
      input
      label
      .form-error

  .formFooter
    button
*/

.modalForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
}

.modalForm .formBody {
  grid-row: 1;
}

.modalForm .formFooter {
  grid-row: 2;
}

.modalForm .formBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}

.modalForm .formFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.formLine {
  display: flex;
  gap: 10px;
}

.formField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.formField input {
  background-color: var(--color-dark-1);
  color: var(--color-light-1);
  padding: 10px;
  border: solid 1px var(--color-accent-dark);
  border-radius: var(--rounded-small);
  width: 100%;
  box-sizing: border-box;
}

.formField label {
  order: -1;
  color: var(--color-light-2);
}

.formField input:focus {
  border-color: var(--color-accent);
  outline: solid 1px var(--color-accent);
}

.formField input:focus + label {
  color: var(--color-accent);
}

.formError {
  color: var(--color-error);
  font-size: small;
}
