.gui {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100dvh;
}

.content {
  height: calc(100dvh - 60px);
  margin: 0 300px;
}

.nav-bar {
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  display: none;
  font-size: xx-large;
}

.user-options {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.isotipo {
  box-sizing: border-box;
  height: 100%;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

@media screen and (max-width: 1400px) {
  .content {
    margin: 0px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    height: 100dvh;
  }

  .gui {
    grid-template-rows: 0px 1fr;
  }

  .isotipo {
    height: auto;
    width: min-content;
  }

  .user-options {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100px);
    font-size: large;
    pointer-events: none;
    position: absolute;
    height: 100dvh;
    width: 50dvw;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 5px 0px 10px -4px rgba(0, 0, 0, 0.4);
    transition: all 100ms ease-in-out;
  }

  .nav-bar button {
    font-size: large;
    padding: 10px;
  }

  .nav-bar.active {
    display: block;
    transform: translateX(0);
    pointer-events: all;
    opacity: 1;
    z-index: 1000;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

@media screen and (max-height: 600px) {
  .content {
    height: 100dvh;
  }

  .gui {
    grid-template-rows: 0px 1fr;
  }

  .isotipo {
    height: auto;
    width: min-content;
  }

  .user-options {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100px);
    font-size: large;
    pointer-events: none;
    position: absolute;
    height: 100dvh;
    width: 50dvw;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 5px 0px 10px -4px rgba(0, 0, 0, 0.4);
    transition: all 100ms ease-in-out;
  }

  .nav-bar button {
    font-size: large;
    padding: 10px;
  }

  .nav-bar.active {
    display: block;
    transform: translateX(0);
    pointer-events: all;
    opacity: 1;
    z-index: 1000;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}
