.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease-in-out;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-window {
  position: relative;
  background-color: var(--color-dark);
  border-radius: var(--rounded-small);
  display: flex;
  flex-direction: column;
  z-index: 1001;
  opacity: 0;
  transform: translateY(40px);
  transition: all 100ms ease-in-out;
  pointer-events: none;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.4);
  min-width: 300px;
  height: fit-content;
  padding: 0 20px;
}

.modal-window.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.modal-window .close-button {
  background-color: transparent;
  border-radius: var(--rounded-small);
  border: none;
}

.modal-window .close-button:hover {
  background-color: var(--color-dark-transparent);
}

.modal-window .close-button path {
  fill: var(--color-light-subdued);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--color-dark-transparent);
}

@media screen and (max-width: 767px) {
  .modal-window {
    width: 100vw;
    box-sizing: border-box;
    border-radius: 0;
  }
}
