.paginatorContainer {
  display: flex;
  gap: 10px;
}

.paginatorContainer button {
  color: var(--color-light-1);
  background-color: transparent;
  border: none;
  border-radius: var(--rounded-small);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  padding: 6px;
}

.paginatorContainer button:hover {
  background-color: var(--color-dark-2);
}

.paginatorContainer button.long {
  width: 60px;
}

.paginatorContainer button.disabled {
  pointer-events: none;
  color: var(--color-light-2);
}

.paginatorContainer button.selected {
  background-color: var(--color-accent-dark);
  color: var(--color-light-1);
}
